<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>NCSLab</title>

		<style>
			body { margin: 0; }
		</style>

        <!-- Linking the JavaScript file -->
        <script type="importmap">
            {
            "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@v0.165.0/build/three.module.js",
                "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.165.0/examples/jsm/"
            }
            }
        </script>
        <noscript>Sorry, your browser does not support JavaScript</noscript>
	</head>

	<body>
        <h1>Home / Lab / VoltageDividerRule</h1>
        
        <canvas id="c" width="800" height="400">
            <script type="module" src="/static/index.js"></script>
        </canvas>
	</body>
</html>
